<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://race-tracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>race-tracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Race-Tracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Race-Tracker</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="KartingEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=KSXPS;Initial Catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;Application Name=EntityFramework" Name="Data Source=KSXPS;Initial Catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KartingApplication.Models.KartingEntities, KartingApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataModel" Order="2" Enabled="False">
          <Destination Path="Data Source=KSXPS;Initial Catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;Application Name=EntityFramework" Name="Data Source=KSXPS;Initial Catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=koensteurs.database.windows.net;Initial Catalog=RaceTracker;Persist Security Info=True;User ID=koensteurs;Password=SteursKoen0810;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=koensteurs.database.windows.net;initial catalog=RaceTracker;Persist Security Info=True;User ID=koensteurs;Password=SteursKoen0810;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KartingEntities_" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KSXPS;Initial Catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KartingEntities__IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.KartingModel.csdl|res://*/Models.KartingModel.ssdl|res://*/Models.KartingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KSXPS;initial catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataModel_" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KSXPS;Initial Catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataModel__IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=KSXPS;initial catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataModel-Web.config Connection String">
      <ParameterValue>data source=KSXPS;initial catalog=Karting;persist security info=True;user id=Karting;password=Karting;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataModel_-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KartingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.KartingModel.csdl|res://*/Models.KartingModel.ssdl|res://*/Models.KartingModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=KSXPS;Initial Catalog=Karting;Persist Security Info=True;User ID=Karting;Password=Karting;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KartingEntities_-Web.config Connection String" />
  </ItemGroup>
</Project>